<div id="prefs">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="icon sfi-mini-icon"></div>
			<div class="title">Spin For It Preferences</div>
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title"><span>Start Spin With</span></div>
		<div class="palm-list">
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="StartSelect" class="" name="StartSelect1"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title"><span>Spin Duration</span></div>
		<div class="palm-list">
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="DurationSelect" class="" name="DurationSelect1"></div>
				</div>
			</div>
		</div>
	</div>

</div>