<div id="spin">
	<div class="palm-body-text">
		<div id="spinner-container">
			<div id="pointer" class="hand"></div>
			<div id="SpinnerSelectGroup" class="palm-group unlabeled">
				<div class="palm-list">
					<div class="palm-row first last" x-mojo-touch-feedback="delayed">
						<div class="palm-row-wrapper">
							<div x-mojo-element="ListSelector" id="SpinnerSelect" class="" name="SpinnerSelect1"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="SpinButton" name="SpinButton1" x-mojo-element="Button"></div>
		</div>
	</div>
</div>